apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nutriscan

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app: nutriscan
  managed-by: kustomize
